body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    text-align: center;
    background-color: chartreuse;
    font-family: cursive;
}

.form{
    background-color: bisque;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    border-radius: 10px;
    margin: 10px;
}
.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    border: solid 4px blue;
    color: green;
}
.input::placeholder{
    color: lightgray;
    font-family: cursive;
}
.btn{
    background-color: goldenrod;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    display: block;
    font-family: cursive;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.btn:hover{

    filter: brightness(0.9);   

}

