body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blueviolet;
    font-family: cursive;
}

h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    text-align: center;
    color: blue;
    font-style: italic;    
    opacity: .8;    
}
.container{
    background-color: antiquewhite;
    width: 400px;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);

}

.textarea{
    resize: none;
    width: 100%;
    height: 100px;
    font-size: 18px;
    font-family: sans-serif;
    font-style: oblique;
    padding: 10px;
    box-sizing: border-box;
    border: solid 2px darkgreen;

}

.counter-container{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.counter-container p{
    font-size: 18px;
    color: gray;
}
.total-counter{
    color: slateblue;
}

.remaining-counter{
    color: orangered;
}





