

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    text-align: center;
    font-family: cursive;
    background-color: blue;
}

.signal-light{    
    height: 350px;
    width: 120px;
    background-color: black;
    padding: 5px 5px 5px 5px;    
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.signal-light .red{
    margin: 10px;
    display: flex;
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.signal-light .yellow{
    margin: 10px;
    display: flex;
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: brown;
}
.signal-light .green{
    margin: 10px;
    display: flex;
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
h1{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 30px;
    text-align: center;
    color: rgb(66, 35, 35);    
    opacity: .8;    
}

.red {
    background-color: #f00;
    animation: blink-red 5s linear infinite;
  }
  
  .yellow {
    background-color: #ff0;
    animation: blink-yellow 5s linear infinite;
  }
  
  .green {
    background-color: #0f0;
    animation: blink-green 5s linear infinite;
  }
  
  @keyframes blink-red {
    0% {
      background-color: #f00;
    }
    50% {
      background-color: #ddd;
    }
    100% {
      background-color: #f00;
    }
  }
  
  @keyframes blink-yellow {
    0% {
      background-color: #ff0;
    }
    25% {
      background-color: #ddd;
    }
    50% {
      background-color: #ff0;
    }
    75% {
      background-color: #ddd;
    }
    100% {
      background-color: #ff0;
    }
  }
  
  @keyframes blink-green {
    0% {
      background-color: #0f0;
    }
    75% {
      background-color: #ddd;
    }
    100% {
      background-color: #0f0;
    }
  }
  